{% load static %}

<div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
               <div id="sidebar-menu" class="sidebar-menu">
                  {% if user.user_type == 1 %}
<!--  Hod Sidebar -->
                  <ul>
                     <li class="menu-title">
                        <span>Main Menu</span>
                     </li>
                     <li >
                        <a href="{% url 'hod_home' %}"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a>
                     </li>
                     <li class="submenu">
                        <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'add_student' %}">Add Student</a></li>
                           <li><a href="{% url 'view_student' %}">View Student</a></li>
                        </ul>
                     </li>
                     <li class="submenu">
                        <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Staff</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'add_staff' %}">Add Staff</a></li>
                           <li><a href="{% url 'view_staff' %}">View Staff</a></li>
                        </ul>
                     </li>
                     <li class="submenu ">
                        <a href="#"><i class="fas fa-graduation-cap"></i> <span> Course</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'add_course' %}">Add Course</a></li>
                           <li><a href="{% url 'view_course' %}">View Course</a></li>
                        </ul>
                     </li>
                     <li class="submenu ">
                        <a href="#"><i class="fa fa-calendar"></i> <span> Session</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'add_session' %}">Add Session</a></li>
                           <li><a href="{% url 'view_session' %}">View Session</a></li>
                        </ul>
                     </li>
                     <li class="submenu ">
                        <a href="#"><i class="fa fa-calendar"></i> <span> Class</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'add_class' %}">Add Class</a></li>
                           <li><a href="{% url 'view_class' %}">View Class</a></li>
                        </ul>
                     </li>
                     <li class="submenu">
                        <a href="#"><i class="fa fa-user-graduate"></i> <span>Student Class</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'add_student_class' %}">Add Student Class</a></li>
                           <li><a href="{% url 'view_student_class' %}">View Student Class</a></li>
                        </ul>
                     </li>
                     <li class="submenu ">
                        <a href="#"><i class="fas fa-book-reader"></i> <span>Class Course</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'add_class_course' %}">Add Class Courses</a></li>
                           <li><a href="{% url 'view_class_course' %}">View Class Courses</a></li>
                        </ul>
                     </li>
                     <li class="submenu ">
                        <a href="#"><i class="fas fa-book-reader"></i> <span>Staff Subjects</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'add_subject' %}">Add Staff Subject</a></li>
                           <li><a href="{% url 'view_subject' %}">View Staff Subject</a></li>
                        </ul>
                     </li>

                      <li class="">
                        <a href="{% url 'hod_view_result' %}"><i class="fas fa-poll"></i> <span>View Result</span></a>
                     </li>
                     <li class="submenu ">
                        <a href="#"><i class="fa fa-bell"></i> <span> Notification</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'send_notification_staff' %}">Send Notification Staff</a></li>
                           <li><a href="{% url 'send_notification_student' %}">Send Notification Student</a></li>
                        </ul>
                     </li>
                     <li>
                        <a href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i> <span>Logout</span></a>
                     </li>
                  </ul>


<!--  Staff Sidebar-->

                  {% elif user.user_type == 2 %}
                  <ul>
                     <li class="menu-title">
                        <span>Main Menu</span>
                     </li>
                     <li class="">
                        <a href="{% url 'staff_add_result' %}"><i class="fas fa-poll-h"></i> <span>Add Result</span></a>
                     </li>
                     <li class="">
                        <a href="{% url 'staff_view_result' %}"><i class="fas fa-poll"></i> <span>View Result</span></a>
                     </li>
                     <li class="">
                        <a href="{% url 'staff_notification' %}"><i class="fas fa-bell"></i> <span>Notification</span></a>
                     </li>
                     <li>
                        <a href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i> <span>Logout</span></a>
                     </li>
                  </ul>

<!--Student Sidebar-->

                  {% else %}
                   <ul>
                     <li class="menu-title">
                        <span>Main Menu</span>
                     </li>
                     <li class="">
                        <a href="{% url 'student_view_result' %}"><i class="fas fa-poll"></i> <span>View Result</span></a>
                     </li>
                      <li class="">
                        <a href="{% url 'student_notification' %}"><i class="fas fa-bell"></i> <span>Notification</span></a>
                     </li>
                     <li>
                        <a href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i> <span>Logout</span></a>
                     </li>
                  </ul>

                  {% endif %}
               </div>
            </div>
         </div>