{% extends 'base.html' %}
{% block content %}
<div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">Staff</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="{% url 'hod_home' %}">Dashboard</a></li>
               <li class="breadcrumb-item active">Add Staff</li>
            </ul>
         </div>
      </div>
   </div>
 <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url 'add_staff' %}" enctype="multipart/form-data" class="needs-validation" novalidate>
                        {% csrf_token %}
                            <div class="col-12">
                                <h5 class="form-title"><span>Add Staff</span></h5>
                                    {% include 'includes/messages.html' %}
                            </div>
                            <div class="col-sm-11">
                                <div class="form-group">
                                    <label for="validatedCustomFile">Profile Pic</label>
                                    <input type="file" id="validatedCustomFile" class="form-control" required name="profile_pic">
                                    <div class="invalid-feedback">
                                        Please choose a profile pic.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-11">
                                <div class="form-group">
                                    <label for="validationCustom01">First Name</label>
                                    <input type="text" id="validationCustom01" class="form-control" required name="first_name" >
                                    <div class="valid-feedback">
                                     Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please enter a first name.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-11">
                                <div class="form-group">
                                    <label for="validationCustom02">Last Name</label>
                                    <input type="text" id="validationCustom02" class="form-control"  required name="last_name" >
                                    <div class="valid-feedback">
                                     Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please enter a last name.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-11">
                                <div class="form-group">
                                    <label for="validationCustomEmail">Email</label>
                                    <input type="email"  id="validationCustomEmail" class="form-control" required name="email" >
                                    <div class="invalid-feedback">
                                        Please enter a email.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-11">
                                <div class="form-group">
                                    <label for="validationCustomUsername">Username</label>
                                    <input type="text" id="validationCustomUsername" class="form-control" required name="username" >
                                    <div class="invalid-feedback">
                                        Please enter a username.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-11">
                                <div class="form-group">
                                    <label for="validationCustomPassword">Password</label>
                                    <input type="password" id="validationCustomPassword" class="form-control"  required name="password">
                                    <div class="invalid-feedback">
                                        Please enter a password.
                                </div>
                                </div>
                            </div>
                             <div class="col-sm-11">
                                <div class="form-group">
                                   <label for="validationCustomAddress">Address</label>
                                    <textarea class="form-control" id="validationCustomAddress" required name="address"></textarea>
                                    <div class="invalid-feedback">
                                        Please enter a address.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-11">
                                <div class="form-group">
                                   <label for="validationCustomGender">Gender</label>
                                       <select class="form-control" id="validationCustomGender" required name="gender">
                                          <option value="">Select Gender</option>
                                          <option value="Female">Female</option>
                                          <option value="Male">Male</option>
                                          <option value="Others">Others</option>
                                       </select>
                                    <div class="invalid-feedback">
                                        Please choose a gender.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Add Staff</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
 </div>
</div>
{% endblock %}