{% extends 'base.html' %}
{% block content %}
            <div class="content container-fluid">
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Edit Class Course</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'hod_home' %}">Dashboard</a></li>
                                <li class="breadcrumb-item active">Edit Class Course</li>
                            </ul>
                        </div>
                    </div>
                </div>
                                    {% include 'includes/messages.html' %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form method="post" action="{% url 'update_student_class' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="form-title"><span>Student Class Information</span></h5>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="course">Student</label>
                                                <input type="text" class="form-control"  name="stu_cls_id" hidden  value="{{stu_cls_id}}">
                                               <select class="form-control" id="course"  name="stu_id">
                                                  <option  value="">Select Student</option>
                                                   {% for i in stu_class %}
                                                  <option value="{{i.student.id}}">{{i.student.admin.first_name}} {{i.student.admin.last_name}}</option>
                                                   {% endfor %}
                                               </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="staff">Class</label>
                                               <select class="form-control" id="staff"  name="cls_id">
                                                  <option value="">Select Class</option>
                                                    {% for i in classes %}
                                                  <option value="{{i.id}}">{{i.class_name}} - {{i.session_id}}</option>
                                                    {% endfor %}
                                               </select>
                                             </div>
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary">Update Student Class</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}