{% extends 'base.html' %}
{% block content %}
<div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">Session</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="{% url 'hod_home' %}">Dashboard</a></li>
               <li class="breadcrumb-item active">Edit Session</li>
            </ul>
         </div>
      </div>
   </div>
 <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url 'update_session' %}" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Edit Session</span></h5>
                                    {% include 'includes/messages.html' %}
                            </div>
                            <div class="col-12 col-sm-12">
                                <div class="form-group">
                                    <label>Session Date</label>
                                    <input type="text" class="form-control"  name="start_date" value="{% for i in session_year %}{{i.session}}{% endfor %}" >
                                    <input type="text" class="form-control"  name="session_id" hidden value="{% for i in session_year %}{{i.id}}{% endfor %}">
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Update Session</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
 </div>
</div>
{% endblock %}